  $color-text: #403f3d;
  $text-accent: #b0907a;
  $text-light: #e1d4c9;
  $background-body: #e1d4c9;
  $background-container: #665f55;
  $border-light: #c1b6ad;
  $background-backdrop: rgba(64, 63, 61, 0.80);

  $desktop-width: 1440px;
  $laptop-width: 1406px;
  $small-laptop-width: 1280px;
  $big-tablet-width: 1040px;
  $tablet-width: 870px;
  $medium-tablet-width: 768px;
  $small-tablet-width: 715px;
  $mobile-width: 380px;